body {
    color: #F1F1EE;
}

body > div:first-of-type {
    height: 100vh;
}

.bannerpicture-box {
    height: 100vh;
    width: 100%;
    background-image: url(../images-aboutus/peter-yost-ah9tydIdlKA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    z-index: 98;
    text-shadow: 2px 3px 5px rgba( 0, 0, 0, 0.4);
}

main {
    background-color: #141515;
}

section {
    width: 100%;
}

section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
}

section:nth-of-type(1) div:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2 ;
}

section:nth-of-type(1) div:nth-of-type(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3 ;

}

section:nth-of-type(1) div:nth-of-type(3) {
    grid-column: 1 / 3;
    grid-row: 3 / 4 ;
}

section:nth-of-type(1) div p:nth-of-type(3) {
   padding-bottom: 50%;
}

section h2 {
    padding: 13% 17% 1% 17%;
    margin: 0;
    font-size: 3rem;
}

section h3 {
    padding: 70px 17% 0.5% 17%;
    margin: 0;
    font-size: 1.5rem;
    font-family: "LemonM";
}

section:first-child div:nth-last-of-type(2) img {
    background-image: url(../images-aboutus/MAU_11zon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 440px;
    height: 260px;
    margin-left: 20px;

    float: right;

}

section p {
    padding: 0 17% 0 17%;
}

section:nth-of-type(2) {
    background-color: black;
    padding: 5% 0% 9% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section:nth-of-type(2) p {
    text-align: center;
}

.picture-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 5% 17% 17% 17%;
}

.picture-container div {
    background-color: white;
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    height: 350px;
    width: 280px;
    justify-content: center;
    align-items: center;
}

.picture-container div h4 {
    color: black;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: var( --font-size); 
    font-family: "LemonM";
    margin-bottom: 2%;
}

.picture-container div p {
    color: black;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    margin-top: 0;
    padding: 0;
    font-size: 1rem;
}

.picture-container div img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.picture-container-2 {
    display: grid;
    padding: 10% 17% 10% 17%;
    background-color: black;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}

.picture-container-2 div:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
}

.picture-container-2 div:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: blue;
    background-image: url(../images-aboutus/Instagram1.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.picture-container-2 div:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 6;
    background-color: blue;
    background-image: url(../images-aboutus/Instagram2.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.picture-container-2 h5 {
    font-family: "LemonM";
    color: white;
    font-size: calc(var( --font-size) * 2.5); 
    margin: 0;
    padding: 0;
}

.picture-container-2 h6 {
    font-family: "LemonM";
    color: white;
    margin: 0;
    padding-top: 40%;
}

.picture-container-2 a {
    text-decoration: none;
    font-size: calc(var( --font-size) * 2); 
    font-family: "LemonM";
    color: white;
}

.picture-container-2 div:nth-of-type(4) {
    color: white;
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}

.picture-container, .picture-container-2 {
    padding-bottom: 10%;
}

section:nth-of-type(5) {
    width: 100vw;
    background-color: #252525;
    color: #F1F1EE;
}
section:nth-of-type(5) h6 {
    font-family: "LemonM";
    font-size: calc(var( --font-size) * 2); 
    padding-left: 250px;
    padding-top: 70px;
    margin-bottom: 6px;
  
}
section:nth-of-type(5) p {
    padding-left: 250px;
    margin-bottom: 20px;
}

menu {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    padding: 0 95px 60px 95px;
}

menu a {
    height: 100%;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: rgba(17, 17, 16, 0.6);
    display: flex;
    justify-content: left;
    align-items: end;
    color: #F1F1EE;
    text-decoration: none;
    opacity: 0;
}

menu a:hover {
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
}

div > a {
    transition: 0.3s;
}

menu > div:first-child {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
    background-image: url(../images-aboutus/dolphins_11zon_11zon.jpg);
}

menu > div:nth-child(2) {
    grid-column: 2;
    grid-row: 3;
    background-image: url(../images-aboutus/Conservation\ international.png);
}

menu > div:nth-child(3) {
    grid-column: 3 / span 2;
    grid-row: 3;
    background: url(../images-aboutus/orangutang_11zon_11zon.jpg);
    background-size: cover;
}

menu > div:nth-child(4) {
    grid-column: 5;
    grid-row: 1 / span 3;
    background-image: url(../images-aboutus/charity3_11zon_11zon.jpg);
}

menu > div:nth-child(5) {
    grid-column: 6 / span 2;
    grid-row: 1 /span 2;
    background-image: url(../images-aboutus/djurensratt.jpeg);
}

menu > div:nth-child(6) {
    grid-column: 8 / span 2;
    grid-row: 1 / span 2;
    background-image: url(../images-aboutus/oceanconservancy.jpeg);
}

menu > div:nth-child(7) {
    grid-column: 6 / span 4;
    grid-row: 3;
    background-image: url(../images-aboutus/Greenpeace.jpg);
}

menu > div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 350px) and (max-width: 500px) {

    .bannerpicture-box {
        height: 100vh; 
    }

    .bannerpicture-box h1 {
        font-size: 13vw;
        text-align: center;
        margin: 0;
    }

    section h2 {
        font-size: 30px;
        padding: 13% 10% 1% 10%;

    }

    section h3 {
        font-size: 18px;
        padding: 5% 10% 5% 10%;
    }

    section p {
        padding: 0 10% 10% 10%;
    }

    section:nth-of-type(2) h3 {
        text-align: center;
        margin: 4%;
    }

    .picture-container {
        grid-template-columns: 1fr 1fr;
        padding: 5% 10% 17% 10%;
        gap: 4vw;
    }

    .picture-container div {
        grid-template-rows: 200px 1fr 1fr;
        height: 300px;
        width: 180px;
    }    

    .picture-container-2 {
        grid-template-columns: repeat(2, 50%);
        padding: 8% 8% 8% 8%;
    }

    .picture-container-2 div:nth-of-type(2) {
        height: 20vh;
        width: 40vw;
    }

    .picture-container-2 div:nth-of-type(3) {
        height: 23vh;
        width: 50vw;
    }

    .picture-container-2 h4 {
        font-size: 20px;
    }

    .picture-container-2 h5 {
        font-size: 20px;
    }

    .picture-container-2 h6 a {
        font-size: 3.3vw;
    }

    section:first-child div:nth-last-of-type(2) img {
        width: 82vw;
        height: 270px;
        margin: 5% auto;
        float: none;
    }
    section:nth-of-type(5) h6 {
        padding-left: 130px;
    }

    section:nth-of-type(5) {
        width: 100vw;
        background-color: #252525;
        color: #F1F1EE;
    }
    section:nth-of-type(5) h2 {
        padding: 40px 10vw 0 10vw;
        margin: 0 auto;
        text-align: center;
    }

    section:nth-of-type(5) p {
        padding: 0 10vw;
        text-align: center;
    }

    menu {
        display: grid;
        grid-template-columns: repeat(2, 45vw);
        grid-template-rows: repeat(3, 150px);
        grid-auto-flow: dense;
        gap: 10px;
        padding: 0 0 40px 0;
        justify-content: center;
    }
    menu a {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
        padding: 10px;
    }
    menu > div:first-child {
        background-image: url(../images-aboutus/dolphins_11zon_11zon.jpg);
        grid-column: 1;
        grid-row: 1 / span 3;
    }
    menu > div:nth-child(5) {
        background-image: url(../images-aboutus/djurensratt.jpeg);
        grid-column: 2;
        grid-row: 1;
    }
    menu > div:nth-child(4) {
        background-image: url(../images-aboutus/charity3_11zon_11zon.jpg);
        grid-column: 2;
        grid-row: 2 / span 2;
    }
    menu > div:nth-child(3),
    menu > div:nth-child(2),
    menu > div:nth-child(6),
    menu > div:nth-child(7) {
        display: none;
    }
    main article:nth-child(1) .button-one,
    main article:nth-child(2) .button-two,
    main article:nth-child(3) .button-three {
        left: 0;
        padding: 10px 30px;
        margin: 20px 0;
        width: fit-content;
    }
}