body {
    background-color: #111110 ;
}

.top {
    background-image: url(sea-levels-images/SLR-bild1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.top h1 {
    color: #F1F1EE ;
    padding: 20rem 0 0 3rem;
}


section:nth-child(1) {
    height: auto;
    background-color: #252525;
    color: #F1F1EE;
    height: auto;
    padding-bottom: 70px;
}

section:nth-child(1) h2 {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 70px;
    font-size: 3rem;
}

section:nth-of-type(2) h2, section:nth-of-type(3) h2 {
    margin-left: 50px;
}

main section:nth-child(1) div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: auto;
    max-width: 80vw;
}

main section:nth-child(1) div:nth-child(2) img {
    margin-bottom: 20px;
    
}

section:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 80vw;
    margin: 90px auto;
    padding: 40px 20px;
    background-color: #252525;
    color: #F1F1EE;
    gap: 20px;
}

section:nth-child(2) div p:nth-child(2),
section:nth-child(3) div p:nth-child(2),
section:nth-child(2) div p:nth-child(3),
section:nth-child(3) div p:nth-child(3) {
    padding: 0 50px 10px 50px;
}


section:nth-child(2) h2,
section:nth-child(3) h2 {
    padding-bottom: 10px;
}

section:nth-child(1) img,
section:nth-child(2) img,
section:nth-child(3) img {
    height: 450px;
    width: 450px;
}

section:nth-child(2) div,
section:nth-child(3) div {
    margin-top: -5px;
}

section:nth-child(3) {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
    background-color: #252525;
    color: #F1F1EE;
    gap: 20px;
}

section:nth-child(4) {
    display: flex;
    background-color: rgb(19, 19, 19);
}

section:nth-child(4) img {
    width: 80%;
    aspect-ratio: 1;
}

article {
    color: #F1F1EE;
    padding: 70px 0 120px 0 ;
}

article h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 80vw;
}

article p {
    max-width: 80vw;    
    margin: 10px auto 0 auto ;
}

@media (max-width: 500px){
    main section:nth-child(1){
        height: auto;
    }

    .top h1{
        padding: 12rem 0 9rem 0;
    }

    main section:nth-child(1) div:nth-child(2){
        flex-direction: column;
        max-width: 100%;
    }

    main section:nth-child(1) div:nth-child(2) img{
        width: 100%;
        height: 400px;
    }

    body main section:nth-child(1) div:nth-child(2) p{
        width: 80%;
        margin: 0 auto 40px auto ;
    }

    section:nth-child(2) div p:nth-child(2),
    section:nth-child(3) div p:nth-child(2),
    section:nth-child(2) div p:nth-child(3),
    section:nth-child(3) div p:nth-child(3) {
    padding: 0 20px 10px 20px;
}

section:nth-of-type(2) h2, section:nth-of-type(3) h2 {
    margin-left: 20px;
}

    section:nth-child(2) {
        width: 90%;
        flex-direction: column;
        margin:  90px auto;
        padding: 20px;
        background-color: #252525;
        color: #F1F1EE;
        gap: 20px;
    }

    section:nth-child(2) img,
    section:nth-child(3) img{
        height: 150px;
        width: 100%;
    }

    section:nth-child(3){
        width: 90%;
        flex-direction: column;
        margin:  90px auto;
        padding: 20px;
        background-color: #252525;
        color: #F1F1EE;
    }

    section:nth-child(4) img{
        height:180px;   
    }

    section:nth-child(4) {
        width: 80vw;
        margin: 0 auto;
    }

    article p{
        width: 80%;
        margin: 20px auto 0 auto ;
    }
}
