body {
    background-color: #111110;
    color: #F1F1EE;
}
.background-video {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
}
.background-video h1 {
    padding-left: 5vw;
    padding-bottom: 45vh;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}
video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
hgroup {
    display: flex;
    flex-direction: column;
    background-color: #252525;
}
hgroup h2 {
    margin-top: 40px;
    padding: 10px 250px;
}
hgroup p {
    padding: 10px 250px 50px 250px;
}
main article:nth-child(1) {
    background-color:#252525;
    margin: 120px auto 120px auto;
    padding: 30px;
    width: 75%;
    display: flex;
}
main article:nth-child(1) img {
    height: 180px;
    position: relative;
    left: -50px;
    padding-bottom: 10px;
}
main article:nth-child(1) h2 {
    position: relative;
    left: -30px;
}
main article:nth-child(1) .underline-one {
    position: relative;
    left: -30px;
    height: 3px;
    width: 75%;
    background-color: #B08D00;
    z-index: 5;
    margin: 5px 0;
}
main article:nth-child(1) p {
    position: relative;
    left: -30px;
}
main article:nth-child(1) .button-one {
    background-color: #B08D00;
    margin-top: 8px;
    padding: 10px 20px;
    margin-left: -3%;
    border-radius: 2px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
main article:nth-of-type(2) {
    margin: 0px auto;
    background-color:#252525;
    padding: 30px;
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
}
main article:nth-of-type(2) img {
    height: 180px;
    position: relative;
    right: -50px;
    padding-bottom: 10px;
}
main article:nth-of-type(2) h2 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: -30px;
    text-align: right;
}
main article:nth-child(2) .underline-two {
    position: relative;
    right: -15.1vw;
    height: 3px;
    width: 75%;
    background-color: #119DA4;
    z-index: 5;
    margin: 5px 0;
}
main article:nth-of-type(2) p {
    text-align: right;
    position: relative;
    right: -30px;
}
main article:nth-child(2) .button-two {
    background-color: #119DA4;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    position: relative;
    left: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main article:nth-child(3) {
    background-color:#252525;
    margin:  120px auto 120px auto;
    padding: 30px;
    width: 75%;
    display: flex;
}
main article:nth-child(3) img {
    height: 200px;
    width: 300px;
    position: relative;
    left: -50px;
    padding-bottom: 10px;
}
main article:nth-child(3) h2 {
    position: relative;
    left: -30px;
}
main article:nth-child(3) .underline-three {
    position: relative;
    left: -30px;
    height: 3px;
    width: 75%;
    background-color: #E53D00;
    z-index: 5;
    margin: 5px 0;
}
main article:nth-child(3) p {
    position: relative;
    left: -30px;
}
main article:nth-child(3) .button-three {
    background-color: #E53D00;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 2px;
    margin-left: -3%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
button a {
    color: #F1F1EE;
    text-decoration: none;
    transition: 0.3s ease;
}
button a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    text-decoration: none;
}
section {
    width: 100vw;
    background-color: #252525;
    color: #F1F1EE;
}
section h2 {
    padding-left: 250px;
    padding-top: 40px;
    margin-bottom: 6px;
    margin-top: 40px;
}
section p {
    padding-left: 250px;
    margin-bottom: 20px;
}
menu {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    padding: 0 95px 60px 95px;
}
menu a {
    height: 100%;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: rgba(17, 17, 16, 0.6);
    display: flex;
    justify-content: left;
    align-items: end;
    color: #F1F1EE;
    text-decoration: none;
    opacity: 0;
}
menu a:hover {
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
}
div > a {
    transition: 0.3s;
}
menu > div:first-child {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
    background-image: url(images/dolphins_11zon_11zon.jpg);
}
menu > div:nth-child(2) {
    grid-column: 2;
    grid-row: 3;
    background-image: url(images/Conservation\ international.png);
}
menu > div:nth-child(3) {
    grid-column: 3 / span 2;
    grid-row: 3;
    background: url(images/apa.jpg);
}
menu > div:nth-child(4) {
    grid-column: 5;
    grid-row: 1 / span 3;
    background-image: url(images/charity3_11zon_11zon.jpg);
}
menu > div:nth-child(5) {
    grid-column: 6 / span 2;
    grid-row: 1 /span 2;
    background-image: url(images/djurensratt.jpeg);
}
menu > div:nth-child(6) {
    grid-column: 8 / span 2;
    grid-row: 1 / span 2;
    background-image: url(images/oceanconservancy.jpeg);
}
menu > div:nth-child(7) {
    grid-column: 6 / span 4;
    grid-row: 3;
    background-image: url(images/Greenpeace.jpg);
}
menu > div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (width <= 500px) {
    h1 {
        font-size: 13vw;
        text-align: center;
        margin: 0;
    }
    /* Hgroup */
    hgroup h2 {
        margin-top: 40px;
        padding: 10px 10vw;
    }
    hgroup p {
        padding: 10px 10vw 50px 10vw;
    }
    /* Main */
    main article:nth-child(1),
    main article:nth-child(2),
    main article:nth-child(3) {
        width: 300px;
        margin: 60px auto 30px auto;
        flex-direction: column;
    }
    main article:nth-child(1) h2,
    main article:nth-child(2) h2,
    main article:nth-child(3) h2,
    main article:nth-child(1) p,
    main article:nth-child(2) p,
    main article:nth-child(3) p,
    main article:nth-child(1) .underline-one,
    main article:nth-child(2) .underline-two,
    main article:nth-child(3) .underline-three {
        left: 0;
        position: relative;
        text-align: start;
    }
    main article:nth-child(1) img,
    main article:nth-child(2) img,
    main article:nth-child(3) img {
        margin-bottom: 10px;
        width: 330px;
        object-fit: cover;
        position: relative;
        left: -47px;
    }
    article:nth-of-type(2) div:nth-child(1) {
        position: relative;
        width: 260px;
        right: 94px;
    }
    article:nth-of-type(2) h1 {
        display: block;
        position: relative;
        left: 0px;
        padding-right: 0;
        top: 0;
        margin-bottom: 10px;
    }
    /* Section */
    section {
        width: 100vw;
        background-color: #252525;
        color: #F1F1EE;
    }
    section h2 {
        padding: 40px 10vw 0 10vw;
        margin: 0 auto;
        text-align: center;
    }
    section p {
        padding: 0 10vw;
        text-align: center;
    }
    menu {
        display: grid;
        grid-template-columns: repeat(2, 45vw);
        grid-template-rows: repeat(3, 150px);
        grid-auto-flow: dense;
        gap: 10px;
        padding: 0 0 40px 0;
        justify-content: center;
    }
    menu a {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
        padding: 10px;
    }
    menu > div:first-child {
        background-image: url(images/dolphins_11zon_11zon.jpg);
        grid-column: 1;
        grid-row: 1 / span 3;
    }
    menu > div:nth-child(5) {
        background-image: url(images/djurensratt.jpeg);
        grid-column: 2;
        grid-row: 1;
    }
    menu > div:nth-child(4) {
        background-image: url(images/charity3_11zon_11zon.jpg);
        grid-column: 2;
        grid-row: 2 / span 2;
    }
    menu > div:nth-child(3),
    menu > div:nth-child(2),
    menu > div:nth-child(6),
    menu > div:nth-child(7) {
        display: none;
    }
    main article:nth-child(1) .button-one,
    main article:nth-child(2) .button-two,
    main article:nth-child(3) .button-three {
        left: 0;
        padding: 10px 30px;
        margin: 20px auto;
        width: fit-content;
    }
}





